@font-face { font-family: solaris; src: url(../fonts/Solaris/Solaris.ttf);}
@font-face { font-family: neo-latina; src: url(../fonts/neo-latina-demo-font-ffp/neo-latina-demo-FFP.ttf);}
@font-face { font-family: vegapunk; src: url(../fonts/Vegapunk-Free.otf) format("opentype");}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: antiquewhite;
    font-family: neo-latina;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    font-size: 16px;
    --nav-total: calc(var(--nav-height) + var(--bottom-nav-height));
    --center-strip-width: 75vw;
    --banner-width: 12.5vw;
    --messers-blue: rgba(1, 42, 58, 0.884);
    --messers-purple: rgba(48, 1, 34, 0.945);
    --nav-height: 14.409221902017292vh;
    --nav-energy-height: 3.602305475504323vh;
    --section-height: calc(100vh - var(--nav-total));
    --section-margin: 15vh;
    --hr-width: 55%;
    --paragraph-width: 66%;
    --paragraph-font-size: 3.7vh;
    --photo-gal-height: var(--section-height);
    --swiper-width: 25%;
    --swiper-side-pos: 1%;
    --menu-font-size: 8.5vw;
    --slide-height: 18.626373626373628vw;
    --map-container-width: 46%;
    --hours-h1-font-size: 3rem;
    --hours-ul-font-size: 1.2rem;
    --hours-p-font-size: 1rem;
    --footer1-height: 4.322766570605188vh;
    --footer1-margin: 0;
    --fa-font-size: 3.7vh;
    --social-icons-width: 5%;
    --bottom-nav-height: 0vh;
    --bottom-nav-font-size: 1.2rem;
}

body {
    background: url(../IMG/test/StarrySky[01].jpeg);

}

/*SideBanners*/ /*SideBanners*/ /*SideBanners*/ /*SideBanners*/ 
.left-strip {
    position: fixed;
    height: 100%;
    width: var(--banner-width, 12.5vw);
    background-image: url(../IMG/test/StarrySky[09].gif);
}
.right-strip {
    position: fixed;
    right: 0;
    height: 100%;
    width: var(--banner-width, 12.5vw);
    background-image: url(../IMG/test/StarrySky[09].gif);
}
/*SideBanners*/ /*SideBanners*/ /*SideBanners*/ /*SideBanners*/

.center-strip {
    width: var(--center-strip-width, 75vw);
    margin: auto auto;
    position: relative;
}

/**NAVBAR**/    /**NAVBAR**/    /**NAVBAR**/    /**NAVBAR**/
.navbar-container {
    position: fixed;
    top: 0;
    width: var(--center-strip-width, 75vw);
    height: var(--nav-height, 14.409221902017292vh);
    padding: 0;
    z-index: 10;
    font-size: 1.6rem;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.nav-energy {
    position: fixed;
    height: var(--nav-energy-height, 3.602305475504323vh);
    width: var(--center-strip-width, 75vw);
    right: 12.5%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(../IMG/test/StarrySky[12].gif);
    background-position: center;
}

.navbar {
    width: 100%;
    height: 75%;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(var(--messers-blue, rgba(1, 42, 58, 0.884)), var(--messers-purple, rgba(48, 1, 34, 0.945)));
}

.nav-left {
    width: 39%;
    display: flex;
    justify-content: space-evenly;
}

.logo-container {
    position: relative;
    margin: auto auto;
    width: 22%;
    height: 100%;
    overflow: visible;
}

.logo-container .logo-link {
    position: absolute;
    width: 90%;
    height: 125%;
    left: 5%;
    z-index: 10;
}

.logo {
    position: relative;
    margin: auto auto;
    width: 100%;
    height: auto;
    bottom: 4vw;
    right: 1.5%;
}

.nav-right {
    width: 39%;
    display: flex;
    justify-content: space-evenly;
}
/**NAVBAR**/    /**NAVBAR**/    /**NAVBAR**/    /**NAVBAR**/



/***HERO***/    /***HERO***/    /***HERO***/    /***HERO***/
.hero-container .swiper {
    position: relative;
    width: 100%;
    height: 77vh;
    top: 14vh;
    background: url(../IMG/test/StarrySky[09].gif);
}
.hero-container .gradient {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.459));
}
.hero-container img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/***HERO***/    /***HERO***/    /***HERO***/    /***HERO***/



/***MAIN***/    /***MAIN***/    /***MAIN***/    /***MAIN***/
.some-content {
    position: relative;
    top: 14vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../IMG/test/vaporwave[06].jpg);

}

.messer-who {
    width: 100%;
    height: var(--section-height);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url();
    background-position: center;
    background-size: cover;
    margin-bottom: var(--section-margin, 15vh);
}

.messer-who h1 {
    text-align: center;
    font-size: 3.75rem;
    color: rgb(197, 161, 161);
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    margin-bottom: 2%;
}

.messer-who hr {
    width: var(--hr-width, 55%);
    margin: auto auto;
    border-radius: 100%;
}

.messer-who p {
    width: var(--paragraph-width, 66%);
    margin: auto auto;
    margin-top: 3%;
    color: rgb(228, 233, 250);
    text-indent: 5%;
    text-align: center;
    font-size: var(--paragraph-font-size, 3.7vh);
}

.messer-who p span {
    font-family: solaris;
    font-size: calc(var(--paragraph-width) * .9);
    font-weight: 25s;
    color: rgb(228, 233, 250);
}

/**PhotoGal**/  /**PhotoGal**/  /**PhotoGal**/  /**PhotoGal**/
.PhotoGal {
    position: relative;
    height: var(--photo-gal-height);
    width: 100%;
    margin-bottom: var(--section-margin, 15vh);
}

.PhotoGal .swiper {
    width: var(--swiper-width, 25%);
    height: 100%;
}

.PhotoGal .swiper-slide {
    background-position: center;
    background-size: cover;
    margin: auto auto;
    width: 100%;
    height: var(--slide-height, 18.626373626373628vw);
    background: #000;
}

.PhotoGal .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.mySwiper2 {
    position: absolute;
    left: var(--swiper-side-pos);
    top: 0;
}

.PhotoGal .menu-container {
    display: flex;
    margin: auto auto;
    height: 100%;
    width: fit-content;
    align-items: center;
}

.PhotoGal .menu-container a {
    font-size: var(--menu-font-size, 8.5vw);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.PhotoGal .menu-container a:hover {
    font-size: calc(var(--menu-font-size, 8.5vw) + 1vw);
    font-weight: 900;
    text-shadow: 2px 2px 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.mySwiper3 {
    position: absolute;
    right: var(--swiper-side-pos);
    top: 0;
}

.mySwiper3 .swiper-slide {
    background-position: center;
    background-size: cover;
    margin: auto auto;
    width: 100%;
    height: var(--slide-height, 18.626373626373628vw);
    background: #000;
}

.mySwiper3 .swiper-slide img {
    display: block;
    width: 100%;
}
/**PhotoGal**/  /**PhotoGal**/  /**PhotoGal**/  /**PhotoGal**/

.bottom-section {
    position: relative;
    width: 100%;
    height: var(--section-height);
}

.map-container {
    position: absolute;
    left: 1.4%;
    top: 5.5%;
    width: var(--map-container-width, 46%);
    height: 88%;
}

.map {
    height: 85%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(17, 10, 0);
    box-shadow: 2px 2px 10px black;
}

.phone-number {
    margin-top: 3%;
    width: 100%;
    text-align: center;
}

.phone-number a {
    font-family: solaris;
    font-size: 1.8rem;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    margin-left: 2%;
}

.phone-number i {
    font-size: 1.6rem;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.hours {
    position: absolute;
    top: 5.5%;
    right: 1.4%;
    width: 46%;
    height: 88%;
    text-align: center;
}

.hours h1 {
    margin-bottom: 10%;
    font-size: var(--hours-h1-font-size);
    margin: auto auto;
    margin-bottom: 5%;
    padding: 0;
    width: fit-content;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 1%;
}

.hours ul {
    font-size: var(--hours-ul-font-size, 1.2rem);
}

.hours p {
    font-size: var(--hours-p-font-size, 1rem);
    margin-bottom: 5%;
}

.hours p:last-of-type {
    margin-bottom: 15%;
}

.hours h1, .hours ul, .hours p, .hours a, .contact-box h1, .contact-box ul, .contact-box p, .contact-box a {
    font-family: solaris;
}

.hours a {
    font-size: 1.6rem;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    display: none;
}

/**FOOTER**/   /**FOOTER**/   /**FOOTER**/   /**FOOTER**/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer1 {
    width: 100%;
    height: var(--footer1-height, 4.322766570605188vh);
    margin-bottom: var(--footer1-margin, 0);
    text-align: center;
}

.social-icons {
    margin: auto auto;
    padding-bottom: 0.5%;
    width: var(--social-icons-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fa {
    font-size: var(--fa-font-size, 3.7vh);
    text-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../IMG/test/Nav/shinyMetal[01].jpg);
    background-size: cover;
    background-position: center;
}

.footer2 p {
    text-align: center;
    font-size: 2rem;
    color: black;
}

.control-bar {
    display: none;
}
/**FOOTER**/   /**FOOTER**/   /**FOOTER**/   /**FOOTER**/

/**CONTACT-BOX**/   /**CONTACT-BOX**/   /**CONTACT-BOX**/   /**CONTACT-BOX**/
.contact-box {
    position: absolute;
    top: 5.5%;
    right: 1.4%;
    width: 46%;
    height: 88%;
    border: 1px solid rgb(179, 174, 168);
    text-align: center;
}

.contact-box {
    display: none;
}
/**CONTACT-BOX**/   /**CONTACT-BOX**/   /**CONTACT-BOX**/   /**CONTACT-BOX**/


/**FOOTER**/   /**FOOTER**/   /**FOOTER**/   /**FOOTER**/
/***MAIN***/    /***MAIN***/    /***MAIN***/    /***MAIN***/


/*PsuedoSelectors*/    /*PsuedoSelectors*/    /*PsuedoSelectors*/
.navbar-container a:hover {
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    font-weight: 900;
}

.phone-number a:hover {
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2.1rem;
}

.fa:hover {
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.8rem;
}
/*PsuedoSelectors*/    /*PsuedoSelectors*/    /*PsuedoSelectors*/



/*Media Queries*/    /*Media Queries*/    /*Media Queries*/
/********************HEIGHT > 1200px && 1200px < WIDTH < 2000px*************/
/**************************** EXTREMELY LARGE DEVICES********************************************/
@media (min-height: 1200px) and (min-width: 16700px) and (max-width: 2000px) {
    :root {
        font-size: 25px;
        --hr-width: 65%;
        --paragraph-width: 80%;
        --paragraph-font-size: 3.6vh;
        --footer1-height: 4.322766570605188vh;
        --fa-font-size: 3.5vh;
        --social-icons-width: 7%;
        --slide-height: 22vw;
        --section-margin: 15vh;
    }

    .logo {
        width: 145%;
        bottom: 6vw;
        right: 25%;
    }
}

@media (min-height: 1200px) and (min-width: 1200px) and (max-width: 1670px) {
    :root {
        font-size: 27px;
        --hr-width: 65%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.7vh;
        --menu-font-size: 13vw;
        --footer1-height: 4.322766570605188vh;
        --fa-font-size: 3.3vh;
        --social-icons-width: 7%;
        --slide-height: 25vw;
        --section-margin: 15vh;
    }

    .logo {
        width: 135%;
        bottom: 8vw;
        right: 20%;
    }
}


/********************1100px < HEIGHT < 1200px && 200px < WIDTH < 2000px**************************/
/****************************LARGER DEVICES - - LARGE LAPTOPS********************************************/
@media (min-height:1100px) and (max-height: 1200px) and (min-width: 1800px) and (max-width: 2000px) {
    :root {
        font-size: 24px;
        --paragraph-width: 70%;
        --paragraph-font-size: 3.7vh;
        --fa-font-size: 3.7vh;
        --section-margin: 10vh;
    }

    .logo {
        width: 125%;
        bottom: 5vw;
        right: 14.5%;
    }
    
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 1600px) and (max-width: 1800px) {
    :root {
        font-size: 24px;
        --hr-width: 55%;
        --paragraph-width: 75%;
        --paragraph-font-size: 3.6vh;
        --menu-font-size: 8.5vw;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --slide-height: 18.626373626373628vw;
        --section-margin: 10vh;
    }

    .logo {
        width: 125%;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 1570px) and (max-width: 1600px) {
    :root {
        font-size: 24px;
        --hr-width: 55%;
        --paragraph-width: 75%;
        --paragraph-font-size: 3.5vh;
        --menu-font-size: 8.5vw;
        --slide-height: 18.626373626373628vw;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --social-icons-width: 7%;
        --section-margin: 10vh;
    }

    .logo {
        width: 135%;
        bottom: 5vw;
        right: 18.75%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 1200px) and (max-width: 1570px) {
    :root {
        font-size: 27px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.8vh;
        --menu-font-size: 13vw;
        --slide-height: 22.5vw;
        --footer1-height: 4.322766570605188vh;
        --fa-font-size: 3.7vh;
        --social-icons-width: 7%;
        --section-margin: 10vh;
    }

    .logo {
        width: 130%;
        bottom: 8vw;
        right: 16.5%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 1000px) and (max-width: 1200px) {
    :root {
        font-size: 23px;
        --hr-width: 55%;
        --paragraph-width: 75%;
        --paragraph-font-size: 3.4vh;
        --swiper-width: 26.89%;
        --menu-font-size: 12vw;
        --slide-height: 26.75vw;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --social-icons-width: 7%;
        --section-margin: 10vh;
    }

    .logo {
        width: 140%;
        bottom: 7vw;
        right: 21.51%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 800px) and (max-width: 1000px) {
    :root {
        font-size: 21px;
        --hr-width: 55%;
        --paragraph-width: 95%;
        --paragraph-font-size: 3.5vh;
        --swiper-width: 26%;
        --menu-font-size: 14vw;
        --slide-height: 27vw;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --social-icons-width: 9%;
        --section-margin: 10vh;
    }

    .logo {
        width: 160%;
        bottom: 7.5vw;
        right: 32%;
    }

    .messer-who h1 {
        padding-top: 1%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 700px) and (max-width: 800px) {
    :root {
        font-size: 18px;
        --hr-width: 55%;
        --paragraph-width: 95%;
        --paragraph-font-size: 3vh;
        --swiper-width: 27.5%;
        --menu-font-size: 14vw;
        --slide-height: 32vw;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.6vh;
        --social-icons-width: 13%;
        --section-margin: 10vh;
    }

    .logo {
        width: 173%;
        bottom: 7.5vw;
        right: 37%;
    }

    .messer-who h1 {
        padding-top: 2%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 600px) and (max-width: 700px) {
    :root {
        font-size: 15.9px;
        --hr-width: 60%;
        --paragraph-width: 85%;
        --paragraph-font-size: 2.6vh;
        --swiper-width: 31.5%;
        --swiper-side-pos: 0;
        --menu-font-size: 13vw;
        --slide-height: 35vw;
        --hours-h1-font-size: 4rem;
        --hours-ul-font-size: 2rem;
        --hours-p-font-size: 1.2rem;
        --footer1-margin: 0;
        --fa-font-size: 2.9vh;
        --social-icons-width: 10%;
        --section-margin: 15vh;
        --bottom-nav-font-size: 1.5rem;
    }

    .logo {
        width: 235%;
        bottom: 12vw;
        right: 70%;
    }

    .messer-who h1 {
        height: 23.25vh;
        padding-top: 1.5vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 2vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 2vh;
    }

    .phone-number {
        margin-top: 2%;
    }

    .hours {
        border: 1px solid white;
        padding-top: 7% !important;
    }

    .hours h1 {
        margin-bottom: 7%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 400px) and (max-width: 600px) {
    :root {
        font-size: 15px;
        --section-height: calc(100vh - var(--nav-total));
        --section-margin: 10vh;
        --hr-width: 70%;
        --paragraph-width: 95%;
        --paragraph-font-size: 2.35vh;
        --photo-gal-height: var(--section-height);
        --swiper-width: 29%;
        --swiper-side-pos: 1%;
        --menu-font-size: 13vw;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 2rem;
        --hours-p-font-size: 1.3rem;
        --slide-height: 35vw;
        --footer1-margin: 0;
        --fa-font-size: 3.3vh;
        --social-icons-width: 15%;
        --bottom-nav-font-size: 1.2rem;
    }

    .logo {
        width: 290%;
        bottom: 13vw;
        right: 100%;
    }

    .messer-who h1 {
        font-size: 9vw;
        height: 26vh;
        padding-top: 1.5vh;
    }

    .messer-who hr {
        border-radius: 200%;
        margin-top: -4vh;
        margin-bottom: 4vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 2vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 2vh;
    }

    .phone-number {
        margin-top: 2%;
    }

    .hours {
        border: 1px solid white;
        padding-top: 7% !important;
    }

    .hours h1 {
        margin-bottom: 7%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 200px) and (max-width: 400px) {
    :root {
        font-size: 11px;
        --section-height: calc(100vh - var(--nav-total));
        --section-margin: 10vh;
        --hr-width: 70%;
        --paragraph-width: 95%;
        --paragraph-font-size: 1.7vh;
        --photo-gal-height: var(--section-height);
        --swiper-width: 47%;
        --swiper-side-pos: 0;
        --menu-font-size: 13vw;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 2rem;
        --hours-p-font-size: 1.3rem;
        --slide-height: 63vw;
        --footer1-margin: 0;
        --fa-font-size: 2.7vh;
        --social-icons-width: 20%;
        --bottom-nav-font-size: 1.9rem;
    }

    .logo {
        width: 410%;
        bottom: 20vw;
        right: 160%;
    }

    .messer-who h1 {
        font-size: 9vw;
        height: 30vh;
        padding-top: 1.5vh;
    }

    .messer-who hr {
        border-radius: 200%;
        margin-top: -4vh;
        margin-bottom: 4vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 5vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 5vh;
    }

    .phone-number {
        margin-top: 2%;
    }

    .hours {
        border: 1px solid white;
        padding-top: 7% !important;
    }

    .hours h1 {
        margin-bottom: 7%;
    }
}


/********************800px < HEIGHT < 1100px && 200px < WIDTH < 2000px**************************/
@media (min-height:800px) and (max-height: 1100px) and (min-width: 1800px) and (max-width: 2000px) {
    :root {
        font-size: 22px;
        --hr-width: 55%;
        --paragraph-width: 75%;
        --paragraph-font-size: 4vh;
        --photo-gal-height: var(--section-height);
        --menu-font-size: 8.5vw;
        --slide-height: 18.626373626373628vw;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 1.2rem;
        --hours-p-font-size: 1rem;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .phone-number {
        margin-top: 1%;
    }

    .hours h1 {
        margin-bottom: 2%;
    }
    
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 1600px) and (max-width: 1800px) {
    :root {
        font-size: 23px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.8vh;
        --menu-font-size: 8.5vw;
        --slide-height: 18.626373626373628vw;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 1.2rem;
        --hours-p-font-size: 1rem;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5.5vw;
        right: 14.5%;
    }
}
/**Breaks Down here***/ /***** -Reason being: that aspect ratio changes often and
screen layout changes in accordance causing lots of variety. Only thing I could
think of was to make sections smaller ********/
@media (min-height: 1000px) and (max-height: 1100px) and (min-width: 1400px) and (max-width: 1600px) {
    :root {
        font-size: 23px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.8vh;
        --menu-font-size: 8.5vw;
        --slide-height: 19.626373626373628vw;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 1.2rem;
        --hours-p-font-size: 1rem;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 1000px) and (max-height: 1100px) and (min-width: 1200px) and (max-width: 1400px) {
    :root {
        font-size: 23px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.8vh;
        --menu-font-size: 8.5vw;
        --slide-height: 19.626373626373628vw;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 1.2rem;
        --hours-p-font-size: 1rem;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 800px) and (max-height: 1000px) and (min-width: 1400px) and (max-width: 1600px) {
    :root {
        font-size: 23px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.8vh;
        --menu-font-size: 8.5vw;
        --swiper-width: 28%;
        --slide-height: 21.626373626373628vw;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 1.2rem;
        --hours-p-font-size: 1rem;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 800px) and (max-height: 1000px) and (min-width: 1200px) and (max-width: 1400px) {
    :root {
        font-size: 21px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.8vh;
        --menu-font-size: 8.5vw;
        --swiper-width: 28%;
        --slide-height: 21.626373626373628vw;
        --hours-h1-font-size: 2.9rem;
        --hours-ul-font-size: 1rem;
        --hours-p-font-size: 0.9rem;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}

@media (min-height: 800px) and (max-height: 1100px) and (min-width: 1000px) and (max-width: 1200px) {
    :root {
        font-size: 21px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.5vh;
        --swiper-width: 26%;
        --swiper-side-pos: 1%;
        --menu-font-size: 12vw;
        --slide-height: 25vw;
        --map-container-width: 46%;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 1.2rem;
        --hours-p-font-size: 1rem;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 800px) and (max-width: 1000px) {
    :root {
        font-size: 20px;
        --hr-width: 55%;
        --paragraph-width: 87%;
        --paragraph-font-size: 3.5vh;
        --swiper-width: 25%;
        --swiper-side-pos: 1%;
        --menu-font-size: 13vw;
        --slide-height: 25.4vw;
        --map-container-width: 46%;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 1.2rem;
        --hours-p-font-size: 1rem;
        --fa-font-size: 3.7vh;
        --social-icons-width: 8%;
    }

    .logo {
        width: 145%;
        bottom: 5.5vw;
        right: 24%;
    }
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 600px) and (max-width: 800px) {
    :root {
        font-size: 15.5px;
        --hr-width: 55%;
        --paragraph-width: 90%;
        --paragraph-font-size: 2.9vh;
        --swiper-width: 28% !important;
        --swiper-side-pos: 0.5%;
        --menu-font-size: 13vw;
        --slide-height: 32vw;
        --map-container-width: 46%;
        --hours-h1-font-size: 3rem;
        --hours-ul-font-size: 1.2rem;
        --hours-p-font-size: 1rem;
        --fa-font-size: 3.7vh;
        --social-icons-width: 11%;
        --bottom-nav-font-size: 1.5rem;
    }

    .logo {
        width: 200%;
        bottom: 10vw !important;
        right: 53%;
    }

    .messer-who h1 {
        height: 26vh;
        padding-top: 1.5vh;
    }
    .messer-who hr {
        border-radius: 200%;
        margin-top: -1vh;
        margin-bottom: 4vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 2vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 2vh;
    }
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 400px) and (max-width: 600px) {
    :root {
        font-size: 12px;
        --hr-width: 70%;
        --paragraph-width: 95%;
        --paragraph-font-size: 2.3vh;
        --swiper-width: 30% !important;
        --swiper-side-pos: 1%;
        --menu-font-size: 13.5vw;
        --slide-height: 33.5vw;
        --map-container-width: 46%;
        --hours-h1-font-size: 3.3rem;
        --hours-ul-font-size: 2rem;
        --hours-p-font-size: 1.6rem;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0.5vh;
        --fa-font-size: 3.3vh;
        --social-icons-width: 14%;
        --bottom-nav-height: 0vh;
        --bottom-nav-font-size: 1.4rem;
    }

    .logo {
        width: 275%;
        bottom: 14vw !important;
        right: 90%;
    }

    .messer-who h1 {
        font-size: 9.5vw;
        height: 31.5vh;
        padding-top: 3vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 5.7vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 6.5vh;
    }
    .messer-who hr {
        border-radius: 200%;
        margin-top: 3vh;
        margin-bottom: 4vh;
    }

    .hours {
        padding-top: 10% !important;
    }
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 200px) and (max-width: 400px) {
    :root {
        font-size: 9px;
        --hr-width: 70%;
        --paragraph-width: 95%;
        --paragraph-font-size: 2vh;
        --swiper-width: 30% !important;
        --swiper-side-pos: 1%;
        --menu-font-size: 13.5vw;
        --slide-height: 27vw;
        --map-container-width: 46%;
        --hours-h1-font-size: 3.3rem;
        --hours-ul-font-size: 2rem;
        --hours-p-font-size: 1.6rem;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0.5vh;
        --fa-font-size: 2.9vh;
        --social-icons-width: 17%;
        --bottom-nav-height: 0vh;
        --bottom-nav-font-size: 1.6rem;
    }

    .logo {
        width: 410%;
        bottom: 20vw !important;
        right: 160%;
    }

    .messer-who h1 {
        font-size: 9.5vw;
        height: 26vh;
        padding-top: 1.4vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 3.7vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 3.7vh;
    }
    .messer-who hr {
        border-radius: 200%;
        margin-top: 0;
        margin-bottom: 4vh;
    }

    .hours {
        padding-top: 15% !important;
    }
}



/********************HEIGHT < 800px && 200px < WIDTH < 2000px*************/
/****************************SMALLEST DEVICES********************************************/
@media (max-height: 800px) and (min-width: 1800px) and (max-width: 2000px) {
    :root {
        font-size: 19px;
        --hr-width: 55%;
        --paragraph-width: 70%;
        --paragraph-font-size: 4vh;
    }

    .logo {
        bottom: 4.5vw;
    }
}
@media (max-height: 800px) and (min-width: 1600px) and (max-width: 1800px) {
    :root {
        font-size: 19px;
        --hr-width: 55%;
        --paragraph-width: 70%;
        --paragraph-font-size: 4vh;
    }

    .logo {
        bottom: 4.5vw;
    }
}
@media (max-height: 800px) and (min-width: 1400px) and (max-width: 1600px) {
    :root {
        font-size: 19px;
        --hr-width: 55%;
        --paragraph-width: 70%;
        --paragraph-font-size: 4vh;
    }

    .logo {
        bottom: 4.5vw;
    }
}
@media (max-height: 800px) and (min-width: 1200px) and (max-width: 1400px) {
    :root {
        font-size: 19px;
        --hr-width: 55%;
        --paragraph-width: 73%;
        --paragraph-font-size: 3.7vh;
    }
}
@media (max-height: 800px) and (min-width: 1000px) and (max-width: 1200px) {
    :root {
        font-size: 16px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.5vh;
        --swiper-width: 28% !important;
        --swiper-side-pos: 1%;
        --menu-font-size: 10vw;
        --slide-height: 22.5vw;
        --hours-h1-font-size: 2.9rem;
        --hours-ul-font-size: 1.1rem;
        --hours-p-font-size: 0.9rem;
        --social-icons-width: 7%;
    }

    .logo {
        width: 130%;
        bottom: 5vw;
        right: 18%;
    }
}
@media (max-height: 800px) and (min-width: 800px) and (max-width: 1000px) {
    :root {
        font-size: 16px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.5vh;
        --swiper-width: 28% !important;
        --swiper-side-pos: 1%;
        --menu-font-size: 10vw;
        --slide-height: 22.5vw;
        --hours-h1-font-size: 2.9rem;
        --hours-ul-font-size: 1.1rem;
        --hours-p-font-size: 0.9rem;
        --social-icons-width: 7%;
    }

    .logo {
        width: 130%;
        bottom: 5vw;
        right: 18%;
    }
}
@media (max-height: 800px) and (min-width: 700px) and (max-width: 800px) {
    :root {
        font-size: 16px;
        --hr-width: 55%;
        --paragraph-width: 85%;
        --paragraph-font-size: 3.5vh;
        --swiper-width: 28% !important;
        --swiper-side-pos: 1%;
        --menu-font-size: 10vw;
        --slide-height: 25vw;
        --hours-h1-font-size: 2.9rem;
        --hours-ul-font-size: 1.1rem;
        --hours-p-font-size: 0.9rem;
        --social-icons-width: 7%;
    }

    .logo {
        width: 130%;
        bottom: 5vw;
        right: 18%;
    }
}
@media (max-height: 800px) and (min-width: 500px) and (max-width: 700px) {
    :root {
        font-size: 12px;
        --hr-width: 55%;
        --paragraph-width: 87%;
        --paragraph-font-size: 2.8vh;
        --swiper-width: 28% !important;
        --swiper-side-pos: 1%;
        --menu-font-size: 11vw;
        --slide-height: 26vw;
        --hours-h1-font-size: 2.9rem;
        --hours-ul-font-size: 1.6rem;
        --hours-p-font-size: 1.2rem;
        --social-icons-width: 10.5%;
        --bottom-nav-font-size: 1.5rem;
    }
    .logo {
        width: 200%;
        bottom: 10.5vw !important;
        right: 53%;
    }

    .messer-who h1 {
        height: 26vh;
        padding-top: 1.5vh;
    }
    .messer-who hr {
        border-radius: 200%;
        margin-top: -1vh;
        margin-bottom: 4.5vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 2vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 2vh;
    }

    .hours {
        padding-top: 6% !important;
    }

    .hours a {
        font-size: 1.7rem;
    }
}
@media (max-height: 800px) and (min-width: 400px) and (max-width: 500px) {
    :root {
        font-size: 12.7px;
        --hr-width: 55%;
        --paragraph-width: 87%;
        --paragraph-font-size: 2.6vh;
        --swiper-width: 29% !important;
        --swiper-side-pos: 1%;
        --menu-font-size: 11vw;
        --slide-height: 29vw;
        --hours-h1-font-size: 2.9rem;
        --hours-ul-font-size: 1.6rem;
        --hours-p-font-size: 1.2rem;
        --social-icons-width: 13%;
        --bottom-nav-font-size: 1.4rem;
    }

    .logo {
        width: 275%;
        bottom: 14vw !important;
        right: 90%;
    }

    .messer-who h1 {
        font-size: 9vw;
        height: 26vh;
        padding-top: 2.5vh;
    }
    .messer-who hr {
        border-radius: 200%;
        margin-top: -1vh;
        margin-bottom: 3vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 2vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 2vh;
    }

    .hours {
        padding-top: 6% !important;
    }

    .hours a {
        font-size: 1.7rem;
    }
}
@media (max-height: 800px) and (min-width: 200px) and (max-width: 400px) {
    :root {
        font-size: 11px;
        --hr-width: 55%;
        --paragraph-width: 90%;
        --paragraph-font-size: 2.3vh;
        --swiper-width: 25% !important;
        --swiper-side-pos: 1%;
        --menu-font-size: 17vw;
        --slide-height: 23vw;
        --hours-h1-font-size: 2.9rem;
        --hours-ul-font-size: 1.6rem;
        --hours-p-font-size: 1.2rem;
        --fa-font-size: 3vh;
        --social-icons-width: 11%;
        --bottom-nav-font-size: 1.4rem;
    }

    .logo {
        width: 250%;
        bottom: 12vw !important;
        right: 78.5%;
    }

    .messer-who h1 {
        font-size: 9vw;
        height: 26vh;
        padding-top: 2.5vh;
    }
    .messer-who hr {
        border-radius: 200%;
        margin-top: -1vh;
        margin-bottom: 3vh;
    }
    .messer-who h1 span:nth-of-type(2) {
        display: block;
        margin-top: 3vh;
    }
    .messer-who h1 span:nth-of-type(3) {
        display: block;
        margin-top: 3vh;
    }

    .hours {
        padding-top: 13% !important;
    }

    .hours a {
        font-size: 1.7rem;
    }
}




/******LOSE BANNERS**********/
@media (max-aspect-ratio: 32/23) {
    :root {
        --center-strip-width: 100vw;
        --swiper-width: 25%;
    }
    .left-strip, .right-strip {
        display: none;
    }
    body {
        width: var(--center-strip-width, 100vw);
    }
    .navbar-container {
        width: var(--center-strip-width, 100vw);
    }
    .nav-energy {
        width: var(--center-strip-width, 100vw);
        right: 0;
    }

    .logo {
        bottom: 7vw;
    }
}
/******ADD BOTTOM-NAV*********/
@media (max-width: 700px) {
    :root {
        --bottom-nav-height: 7vh;
        --photo-gal-height: calc(var(--section-height) - 13vh);
    }

    .nav-left, .nav-right {
        display: none;
    }

    .hero-container .swiper {
        height: 47vh;
    }

    .bottom-section {
        margin-bottom: 21vh;
    }
    .control-bar {
        position: fixed;
        bottom: 0;
        height: var(--bottom-nav-height, 7vh);
        width: 100%;
        background: linear-gradient(var(--messers-blue, rgba(1, 42, 58, 0.884)), var(--messers-purple, rgba(48, 1, 34, 0.945))), url(../IMG/test/StarrySky[09].gif);
        background-position: center;
        background-size: cover;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        padding: 0;
    }
    .control-bar a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 0.25rem;
    }
    .control-bar a i, .control-bar a span {
        font-size: var(--bottom-nav-font-size);
    }
}
/********BOTTOM-SEC LAYOUT TRANSFORM**********/
/******BEFORE BANNERS LOST*********/
@media (min-aspect-ratio: 32/23) and (max-aspect-ratio: 40/23) {
    :root {
        --map-container-width: 75%;
    }

    .bottom-section {
        padding-top: 3%;
    }
    
    .map-container {
        position: static;
        margin: auto auto;
        width: var(--map-container-width, 70%);
        height: 55%;
    }

    .phone-number {
         text-align: right;
    }

    .contact-box {
        display: block;
        position: absolute;
        right: 11.25vw;
        top: 33vh;
        width: 35%;
        height: 57%;
        padding: 5.5%;
        border: 1px dashed pink;
    }

    .hours {
        position: absolute;
        left: 11.25vw;
        top: 39vh;
        width: 34%;
        height: 50%;
        padding: 5.5%;
    }

    .hours h1 {
        margin-bottom: 10%;
    }

    .hours ul {
        margin-top: 7%;
    }

    .hours p:last-of-type {
        margin-bottom: 13%;
    }

    .hours a {
        display: none;
    }
}
/******AFTER BANNERS LOST*********/
@media (max-aspect-ratio: 1/1) {
    :root {
        --map-container-width: 90%;
    }

    .map-container {
        position: static;
        margin: auto auto;
        width: var(--map-container-width, 90%);
        height: 45%;
    }

    .hours {
        position: static;
        margin: auto auto;
        width: 90%;
        height: 45%;
        padding: 2.5%;
    }

    .hours p:last-of-type {
        margin-bottom: 4%;
    }
}
/*Media Queries*/    /*Media Queries*/    /*Media Queries*/












































































/**Scrollbar**/   /**Scrollbar**/   /**Scrollbar**/
body::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(78, 2, 31);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(184, 121, 6);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
  }