@font-face { font-family: solaris; src: url(../fonts/Solaris/Solaris.ttf);}
@font-face { font-family: neo-latina; src: url(../fonts/neo-latina-demo-font-ffp/neo-latina-demo-FFP.ttf);}
@font-face { font-family: vegapunk; src: url(../fonts/Vegapunk-Free.otf) format("opentype");}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: antiquewhite;
    font-family: neo-latina;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    font-size: 16px;
    --nav-total: calc(var(--nav-height) + var(--bottom-nav-height));
    --center-strip-width: 75vw;
    --banner-width: 12.5vw;
    --messers-blue: rgba(1, 42, 58, 0.884);
    --messers-purple: rgba(48, 1, 34, 0.945);
    --nav-height: 14.409221902017292vh;
    --nav-energy-height: 3.602305475504323vh;
    --modal-width: 25vw;
    --modal-height: 25vh;
    --modal-font-size: 1.15rem;
    --footer1-height: 4.322766570605188vh;
    --footer1-margin: 3.25%;
    --fa-font-size: 3.7vh;
    --social-icons-width: 5%;
    --bottom-nav-height: 0vh;
    --bottom-nav-font-size: 1.2rem;
    --some-content-height: 300vh;
}

body {
    background: url(../IMG/test/StarrySky[09].gif);
}

/**MODAL**/ /**MODAL**/ /**MODAL**/ /**MODAL**/ /**MODAL**/
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
}
  
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    background: rgba(64, 4, 88, 0.65);
    min-width: 225px;
    min-height: 175px;
    width: var(--modal-width);
    height: var(--modal-height);


    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.modal-content {
    width: 80%;
}

.modal-content p {
    color: rgb(224, 224, 224);
    font-size: var(--modal-font-size);
    text-align: center;
}

.modal-content .close-btn2-box {
    position: absolute;
    bottom: 0;
    width: 80%;
    padding-bottom: 1%;
}

.modal-content button {
    display: block;
    margin: auto auto;
    min-width: fit-content;
    width: 30%;
    padding: 1%;
    font-size: var(--modal-font-size);
    background: rgba(49, 2, 2, 0.5);
    color: rgb(196, 195, 195);
}
  
.close-btn {
    cursor: pointer;
    position: absolute;
    top: -3%;
    right: 1%;

    color: lightgray; 
    font-size: calc(var(--modal-font-size) * 1.15);  
    font-weight: bold;
}

.close-btn:hover {
    color: darkgray;
}
  
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/**MODAL**/ /**MODAL**/ /**MODAL**/ /**MODAL**/ /**MODAL**/



/*SideBanners*/ /*SideBanners*/ /*SideBanners*/ /*SideBanners*/ 
.left-strip {
    position: fixed;
    height: 100%;
    width: var(--banner-width, 12.5vw);
    background-image: url(../IMG/test/StarrySky[09].gif);
}
.right-strip {
    position: fixed;
    right: 0;
    height: 100%;
    width: var(--banner-width, 12.5vw);
    background-image: url(../IMG/test/StarrySky[09].gif);
}
/*SideBanners*/ /*SideBanners*/ /*SideBanners*/ /*SideBanners*/

.center-strip {
    width: var(--center-strip-width, 75vw);
    margin: auto auto;
    position: relative;
    overflow: hidden;
}

/**NAVBAR**/    /**NAVBAR**/    /**NAVBAR**/    /**NAVBAR**/
.navbar-container {
    position: fixed;
    top: 0;
    width: var(--center-strip-width, 75vw);
    height: var(--nav-height, 14.409221902017292vh);
    padding: 0;
    z-index: 10;
    font-size: 1.6rem;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.nav-energy {
    position: fixed;
    height: var(--nav-energy-height, 3.602305475504323vh);
    width: var(--center-strip-width, 75vw);
    right: 12.5%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(../IMG/test/StarrySky[12].gif);
    background-position: center;
}

.navbar {
    width: 100%;
    height: 75%;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(var(--messers-blue, rgba(1, 42, 58, 0.884)), var(--messers-purple, rgba(48, 1, 34, 0.945)));
}

.nav-left {
    width: 39%;
    display: flex;
    justify-content: space-evenly;
}

.logo-container {
    position: relative;
    margin: auto auto;
    width: 22%;
    height: 100%;
    overflow: visible;
}

.logo-container .logo-link {
    position: absolute;
    width: 90%;
    height: 125%;
    left: 5%;
    z-index: 10;
}

.logo {
    position: relative;
    margin: auto auto;
    width: 100%;
    height: auto;
    bottom: 4vw;
    right: 1.5%;
}

.nav-right {
    width: 39%;
    display: flex;
    justify-content: space-evenly;
}

.btn-box {
    position: absolute;
    top: calc(var(--nav-energy-height) / 2);
    height: fit-content;
    width: 100%;
}
.btn {
    width: 100%;
    color: var(--messers-blue);
    text-shadow: 2px 2px 20px rgb(255, 255, 255);
    font-size: 15vh;
    cursor: pointer;
}
.btn-prev {
    text-align: right;
}
.btn-next {
    text-align: left;
}
.btn:hover {
    text-shadow: 2px 2px 20px rgb(255, 153, 0);
}
/**NAVBAR**/    /**NAVBAR**/    /**NAVBAR**/    /**NAVBAR**/

/***HERO***/    /***HERO***/    /***HERO***/    /***HERO***/
.hero-container {
    position: relative;
    width: 100%;
    height: 77vh;
    top: 14vh;
}

.hero-container .gradient {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.718), rgba(0, 0, 0, 0.759));
}

.hero-container img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-container h1 {
    position: relative;
    color: rgb(206, 190, 190);
    text-shadow: 2px 2px 100px rgb(255, 255, 255);
    font-size: 10rem;
    z-index: 0;
    text-align: center;
    bottom: 65%;
}
/***HERO***/    /***HERO***/    /***HERO***/    /***HERO***/



/***MAIN***/    /***MAIN***/    /***MAIN***/    /***MAIN***/
#main {
    overflow: hidden;
}

.some-content-2 {
    position: relative;
    top: 14vh;
    height: var(--some-content-height);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../IMG/test/Menu/messersMenuCocktails.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 94%;
    padding-top: 4vh;
    padding-bottom: 35vh;
}
.some-content-1 {
    position: relative;
    top: 14vh;
    height: var(--some-content-height);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../IMG/test/Menu/messersMenuBeer.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 94%;
    padding-top: 4vh;
    padding-bottom: 35vh;
}
.some-content0 {
    position: relative;
    top: 14vh;
    height: var(--some-content-height);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../IMG/test/Menu/messersMenuAppetizers.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 94%;
    padding-top: 4vh;
    padding-bottom: 35vh;
}
.some-content1 {
    position: relative;
    top: 14vh;
    height: var(--some-content-height);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../IMG/test/Menu/messersMenuTexMex.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 94%;
    padding-top: 4vh;
    padding-bottom: 35vh;
}
.some-content2 {
    position: relative;
    top: 14vh;
    height: var(--some-content-height);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../IMG/test/Menu/messersMenuWrapsAndSandwiches.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 94%;
    padding-top: 4vh;
    padding-bottom: 35vh;
}

.arrow {
    position: fixed;
    top: 50%;
    width: 8vh;
    height: 8vh;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.left {
    left: 5.7vw;
    transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
    right: 5.7vw;
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow:hover {
    box-shadow: 3px 3px 6px -3px rgb(255, 255, 255);
    border-width: 0 5px 5px 0;
}

/***MAIN***/    /***MAIN***/    /***MAIN***/    /***MAIN***/



/**FOOTER**/   /**FOOTER**/   /**FOOTER**/   /**FOOTER**/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer1 {
    width: 100%;
    height: var(--footer1-height, 4.322766570605188vh);
    margin-bottom: var(--footer1-margin, 0);
    text-align: center;
}

.social-icons {
    margin: auto auto;
    padding-bottom: 0.5%;
    width: var(--social-icons-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fa {
    font-size: var(--fa-font-size, 3.7vh);
    text-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../IMG/test/Nav/shinyMetal[01].webp);
    background-size: cover;
    background-position: center;
}

.footer2 p {
    text-align: center;
    font-size: 2rem;
    color: black;
}

.control-bar {
    display: none;
}

/**FOOTER**/   /**FOOTER**/   /**FOOTER**/   /**FOOTER**/
/***MAIN***/    /***MAIN***/    /***MAIN***/    /***MAIN***/

/*PsuedoSelectors*/    /*PsuedoSelectors*/    /*PsuedoSelectors*/
.navbar-container a:hover {
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    font-weight: 900;
}

.phone-number a:hover {
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2.1rem;
}

.fa:hover {
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.8rem;
}
/*PsuedoSelectors*/    /*PsuedoSelectors*/    /*PsuedoSelectors*/



/*Media Queries*/    /*Media Queries*/    /*Media Queries*/
/********************HEIGHT > 1200px && 1200px < WIDTH < 2000px*************/
/**************************** EXTREMELY LARGE DEVICES********************************************/
@media (min-height: 1200px) and (min-width: 1670px) and (max-width: 2000px) {
    :root {
        font-size: 25px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 3.75%;
        --fa-font-size: 3.5vh;
        --social-icons-width: 7%;
        --slide-height: 22vw;
    }

    .logo {
        width: 145%;
        bottom: 6vw;
        right: 25%;
    }
}

@media (min-height: 1200px) and (min-width: 1200px) and (max-width: 1670px) {
    :root {
        font-size: 27px;
        --footer1-height: 4.322766570605188vh;
        --fa-font-size: 3.3vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 135%;
        bottom: 8vw;
        right: 20%;
    }
}


/********************1100px < HEIGHT < 1200px && 200px < WIDTH < 2000px**************************/
/****************************LARGER DEVICES - - LARGE LAPTOPS********************************************/
@media (min-height:1100px) and (max-height: 1200px) and (min-width: 1800px) and (max-width: 2000px) {
    :root {
        font-size: 24px;
        --fa-font-size: 3.7vh;
        --section-margin: 10vh;
    }

    .logo {
        width: 125%;
        bottom: 5vw;
        right: 14.5%;
    }
    
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 1600px) and (max-width: 1800px) {
    :root {
        font-size: 24px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
    }

    .logo {
        width: 125%;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 1570px) and (max-width: 1600px) {
    :root {
        font-size: 24px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --social-icons-width: 7%;
        --section-margin: 10vh;
    }

    .logo {
        width: 135%;
        bottom: 5vw;
        right: 18.75%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 1200px) and (max-width: 1570px) {
    :root {
        font-size: 27px;
        --footer1-height: 4.322766570605188vh;
        --fa-font-size: 3.7vh;
        --social-icons-width: 7%;
        --section-margin: 10vh;
    }

    .logo {
        width: 130%;
        bottom: 8vw;
        right: 16.5%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 1000px) and (max-width: 1200px) {
    :root {
        font-size: 23px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 140%;
        bottom: 7vw;
        right: 21.51%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 800px) and (max-width: 1000px) {
    :root {
        font-size: 21px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --social-icons-width: 9%;
    }

    .logo {
        width: 160%;
        bottom: 7.5vw;
        right: 32%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 700px) and (max-width: 800px) {
    :root {
        font-size: 18px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.6vh;
        --social-icons-width: 13%;
    }

    .logo {
        width: 173%;
        bottom: 7.5vw;
        right: 37%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 600px) and (max-width: 700px) {
    :root {
        font-size: 15.9px;
        --footer1-margin: 0;
        --fa-font-size: 2.9vh;
        --social-icons-width: 10%;
        --section-margin: 15vh;
        --bottom-nav-font-size: 1.5rem;
    }

    .logo {
        width: 235%;
        bottom: 12vw;
        right: 70%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 400px) and (max-width: 600px) {
    :root {
        font-size: 15px;
        --footer1-margin: 0;
        --fa-font-size: 3.3vh;
        --social-icons-width: 15%;
        --bottom-nav-font-size: 1.2rem;
    }

    .logo {
        width: 290%;
        bottom: 13vw;
        right: 100%;
    }
}
@media (min-height: 1100px) and (max-height: 1200px) and (min-width: 200px) and (max-width: 400px) {
    :root {
        font-size: 11px;
        --footer1-margin: 0;
        --fa-font-size: 2.7vh;
        --social-icons-width: 20%;
        --bottom-nav-font-size: 1.9rem;
    }

    .logo {
        width: 410%;
        bottom: 20vw;
        right: 160%;
    }
}


/********************800px < HEIGHT < 1100px && 200px < WIDTH < 2000px**************************/
@media (min-height:800px) and (max-height: 1100px) and (min-width: 1800px) and (max-width: 2000px) {
    :root {
        font-size: 22px;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }  
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 1600px) and (max-width: 1800px) {
    :root {
        font-size: 23px;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5.5vw;
        right: 14.5%;
    }
}

/**Breaks Down here***/ /***** -Reason being: that aspect ratio changes often and
screen layout changes in accordance causing lots of variety. Only thing I could
think of was to make sections smaller ********/
@media (min-height: 1000px) and (max-height: 1100px) and (min-width: 1400px) and (max-width: 1600px) {
    :root {
        font-size: 23px;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 1000px) and (max-height: 1100px) and (min-width: 1200px) and (max-width: 1400px) {
    :root {
        font-size: 23px;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 800px) and (max-height: 1000px) and (min-width: 1400px) and (max-width: 1600px) {
    :root {
        font-size: 23px;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 800px) and (max-height: 1000px) and (min-width: 1200px) and (max-width: 1400px) {
    :root {
        font-size: 21px;
        --fa-font-size: 4vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}

@media (min-height: 800px) and (max-height: 1100px) and (min-width: 1000px) and (max-width: 1200px) {
    :root {
        font-size: 21px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0;
        --fa-font-size: 3.7vh;
        --social-icons-width: 7%;
    }

    .logo {
        width: 125%;
        height: auto;
        bottom: 5vw;
        right: 14.5%;
    }
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 800px) and (max-width: 1000px) {
    :root {
        font-size: 20px;
        --fa-font-size: 3.7vh;
        --social-icons-width: 8%;
    }

    .logo {
        width: 145%;
        bottom: 5.5vw;
        right: 24%;
    }
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 600px) and (max-width: 800px) {
    :root {
        font-size: 15.5px;
        --fa-font-size: 3.7vh;
        --social-icons-width: 11%;
        --bottom-nav-font-size: 1.5rem;
    }

    .logo {
        width: 200%;
        bottom: 10vw !important;
        right: 53%;
    }
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 400px) and (max-width: 600px) {
    :root {
        font-size: 12px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0.5vh;
        --fa-font-size: 3.3vh;
        --social-icons-width: 17%;
        --bottom-nav-height: 0vh;
        --bottom-nav-font-size: 1.4rem;
        --modal-width: 25vw;
        --modal-height: 10vh;
        --modal-font-size: 1.7rem;
    }

    .logo {
        width: 275%;
        bottom: 14vw !important;
        right: 90%;
    }
}
@media (min-height: 800px) and (max-height: 1100px) and (min-width: 200px) and (max-width: 400px) {
    :root {
        font-size: 9px;
        --footer1-height: 4.322766570605188vh;
        --footer1-margin: 0.5vh;
        --fa-font-size: 2.9vh;
        --social-icons-width: 17%;
        --bottom-nav-height: 0vh;
        --bottom-nav-font-size: 1.6rem;
    }

    .logo {
        width: 410%;
        bottom: 20vw !important;
        right: 160%;
    }
}



/********************HEIGHT < 800px && 200px < WIDTH < 2000px*************/
/****************************SMALLEST DEVICES********************************************/
@media (max-height: 800px) and (min-width: 1800px) and (max-width: 2000px) {
    :root {
        font-size: 19px;
    }

    .logo {
        bottom: 4.5vw;
    }
}
@media (max-height: 800px) and (min-width: 1600px) and (max-width: 1800px) {
    :root {
        font-size: 19px;
    }

    .logo {
        bottom: 4.5vw;
    }
}
@media (max-height: 800px) and (min-width: 1400px) and (max-width: 1600px) {
    :root {
        font-size: 19px;
    }

    .logo {
        bottom: 4.5vw;
    }
}
@media (max-height: 800px) and (min-width: 1200px) and (max-width: 1400px) {
    :root {
        font-size: 19px;
    }
}
@media (max-height: 800px) and (min-width: 1000px) and (max-width: 1200px) {
    :root {
        font-size: 16px;
        --social-icons-width: 7%;
    }

    .logo {
        width: 130%;
        bottom: 5vw;
        right: 18%;
    }
}
@media (max-height: 800px) and (min-width: 800px) and (max-width: 1000px) {
    :root {
        font-size: 16px;
        --social-icons-width: 7%;
    }

    .logo {
        width: 130%;
        bottom: 5vw;
        right: 18%;
    }
}
@media (max-height: 800px) and (min-width: 700px) and (max-width: 800px) {
    :root {
        font-size: 16px;
        --social-icons-width: 7%;
    }

    .logo {
        width: 130%;
        bottom: 5vw;
        right: 18%;
    }
}
@media (max-height: 800px) and (min-width: 500px) and (max-width: 700px) {
    :root {
        font-size: 12px;
        --social-icons-width: 10.5%;
        --bottom-nav-font-size: 1.5rem;
    }
    .logo {
        width: 200%;
        bottom: 10.5vw !important;
        right: 53%;
    }
}
@media (max-height: 800px) and (min-width: 400px) and (max-width: 500px) {
    :root {
        font-size: 12.7px;
        --social-icons-width: 13%;
        --bottom-nav-font-size: 1.4rem;
    }

    .logo {
        width: 275%;
        bottom: 14vw !important;
        right: 90%;
    }
}
@media (max-height: 800px) and (min-width: 200px) and (max-width: 400px) {
    :root {
        font-size: 11px;
        --social-icons-width: 17%;
        --bottom-nav-font-size: 1.4rem;
    }

    .logo {
        width: 250%;
        bottom: 12vw !important;
        right: 78.5%;
    }
}


/******LOSE BANNERS**********/
@media (max-aspect-ratio: 32/23) {
    :root {
        --center-strip-width: 100vw;
        --swiper-width: 25%;
    }
    .left-strip, .right-strip {
        display: none;
    }
    body {
        width: var(--center-strip-width, 100vw);
    }
    .navbar-container {
        width: var(--center-strip-width, 100vw);
    }
    .nav-energy {
        width: var(--center-strip-width, 100vw);
        right: 0;
    }

    .logo {
        bottom: 7vw;
    }

    .arrow {
        position: fixed;
        top: 50%;
        width: 8vh;
        height: 8vh;
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }
}
/******ADD BOTTOM-NAV*********/
@media (max-width: 700px) {
    :root {
        --bottom-nav-height: 7vh;
        --some-content-height: 95vh;
    }

    .some-content, .some-content0, .some-content1, .some-content2, .some-content-1, .some-content-2 {
        background-size: 100% 80% !important;
        height: var(--some-content-height, 95vh) !important;
    }

    .nav-left, .nav-right {
        display: none;
    }

    .hero-container {
        height: 47vh;
    }

    .center-strip {
        height: 140vh;
        margin-bottom: calc(var(--bottom-nav-height) - 2vh);
    }

    .footer1 {
        display: none;
    }

    .arrow {
        width: 3vh;
        height: 3vh;
        opacity: .5;
    }

    .control-bar {
        position: fixed;
        bottom: 0;
        height: var(--bottom-nav-height, 7vh);
        width: 100%;
        background: linear-gradient(var(--messers-blue, rgba(1, 42, 58, 0.884)), var(--messers-purple, rgba(48, 1, 34, 0.945))), url(../IMG/test/StarrySky[09].gif);
        background-position: center;
        background-size: cover;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        padding: 0;
    }
    .control-bar a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 0.25rem;
    }
    .control-bar a i, .control-bar a span {
        font-size: var(--bottom-nav-font-size);
    }
}

/*Media Queries*/    /*Media Queries*/    /*Media Queries*/














/**Scrollbar**/   /**Scrollbar**/   /**Scrollbar**/
body::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(78, 2, 31);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(184, 121, 6);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
  }